<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kobb.model.UserDAO">
	<!-- join구문 -->
	<insert id="join" parameterType="UserDTO">	
		insert into user_tb
	    values
	    (#{user_id},#{user_pw},#{user_phone},#{user_shop_name},sysdate)
		
	</insert>
	<!-- Login 구문 -->
	<select id="login" parameterType="UserDTO" resultType="UserDTO">
		select *
		from user_tb
		where user_id = #{user_id} and user_pw = #{user_pw}
	</select>

</mapper>